
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --link-text-color: #212121;
    --primary-bg-color: #FFFFFF;
}
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
} 
.style-header {
    background-color: #FFFFFF;;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.style-footer {
    background-color: #2F303A;
}
.header-nav, .contact-link, .footer-link, .feature-list, .work-list, .team-list, .portfolio-filters, .portfolio-projects {
    list-style: none;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    color: #2196F3;
}

.nav-link, .mail-link, .tel-link {
    color: var(--link-text-color);
    font-weight: 500;
}
.nav-link:hover, .mail-link:hover, .tel-link:hover, 
.nav-link:focus, .mail-link:focus, .tel-link:focus {
    color: #2196F3;
}
.nav-link.current {
    color:  #2196F3;
}

.adress-link {
    color: #FFFFFF;
    font-weight: 500;
}
.footer-link .mail-link, .footer-link .tel-link {
    color: rgba(255, 255, 255, 0.6);
}
.adress-link:hover, .mail-link:hover, .tel-link:hover, .adress-link:focus, .mail-link:focus, .tel-link:focus {
    color: #2196F3;
}

/* Розмітка головної сторінки */

.header {
    background-color: #2F303A;
}
.header-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.header-button {
    background-color:  #2196F3;;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
} 

/* Розмітка сторінки портфоліо*/

.portfolio-button {
    color: var(--link-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}
.filters-btn:hover, .filters-btn:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}
.projects-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects-text {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}
